@import "variables.scss";

@keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
}

.blink {
    animation: Test 1s infinite;
}
@keyframes Test{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

    header {
        width: 1920px;
        height: 72px;
        display: flex;
        background-color: $black;
        text-transform: uppercase;

        .header-left-side {
            display: inline-block;
            width: 208px;
            text-align: center;
            color: $white;
            border-right: 1px solid $white;

            .desk {
                letter-spacing: 3px;
                font-size: 18px;
                margin: 10px 6px;
            }

            .gsd {
                letter-spacing: 8px;
                font-weight: bold;
                font-size: 24px;
                margin: 6px;
            }
        }

        .gif {
            width: 100px;
            height: 72px;
            img {
                width: 100%;
                margin-left: 10px;
            }
        }

        .container-msg {
            color: $white;             
            width: 1592px;
            overflow: hidden;                     /* masque tout ce qui dépasse */
            margin-left: 20px;
            //box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
        }

        .msg-of-the-day > :first-child {
            display: inline-block;
            margin: 7.5px;                
            padding-right: 2em;                   
            padding-left: 100%;                  
            white-space: nowrap;
            letter-spacing: 2px;                  
            animation: defilement-rtl 30s infinite linear;
        }
    }

    .global-container {
        display:flex;
        flex-wrap: wrap;
        width: 100%;

        .container {
            width: 50%;
    
            .block {
                width: 960px;
                height: 336.6px;
                display: flex;
                border-right: 3px solid $black;
                border-bottom: 3px solid $black;
    
                .identity {
                    width: 323px;
                    text-align: center;
                    color: $white;
                    background-color: $black;
                    border-top: 1px solid $white;
                    border-bottom: 1px solid $white;
    
                    img {
                        width:70%;
                        margin: 15px 25px 10px 25px;
                    }
    
                    .description {
                        p {
                            margin: 0;
                            font-size: 14px;
                            letter-spacing: 3px;
                            text-transform: uppercase;
                        }
                    }
    
                    .list {
                        text-align: left;
                        font-size: 14px;
                        letter-spacing: 1px;
                        margin: 10px;
                        ul {
                            margin: 20px -20px 10px -25px;
                            li {
                                list-style-type: none;
                                padding-bottom: 10px;
                            }
                        }
                    }
                    .w3-progress-container{
                        width:90%;
                        height:1em;
                        position:relative;
                        margin-left: 10px;
                        background-color:#f1f1f1;
                    }
    
    
                    .w3-progressbar{
                        background-image: $green-gradient;
                        height:100%;
                        position:absolute;
                        line-height:inherit;
                    }
    
                    .w3-round-xlarge{
                        border-radius:16px!important;
                    }
                }
    
                .global-projects {
                    width:1168px;
                    //overflow: hidden;
                    padding: 10px 0;
                    .pro {
                        display:flex;
                        width: 108%;
                        .title-line {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 30%;
                            .title {
                                text-align: center;
                                font-size: 12px;
                                font-weight: 600;
                                margin: 0;
                            }
            
                            .deadline {
                                margin-top: 0;
                                font-size: 12px;
                                margin-bottom: 15px;
                                text-align: right;
                                font-style: italic;
                            }
                        }
                    .projects {
                        display: block;
                        width: 80%;
                        //margin-left: 70px;
                        align-items: center;
                        font-size: 12px;
                        margin-right: 10px;
                        
                        .global-tasks {
                            display: flex;
                            width: 105%;
                            align-content: right;
                            // margin-bottom: -15px;
                            padding-left: 10px;
                            padding-bottom: 1.5px;
                            .achieve-task {
                                display: flex;
                                width: 50%;
                                margin-right: 10px;
                                //margin: -20px;
                                align-items: center;
                                img {
                                    display: block;
                                    width: 4%;
                                    height: auto;
                                    margin-right: 5px;
                                }
                                .task {
                                    width: 100%;
                                    margin: 0;
                                    display:flex;
                                    justify-content: space-between;
                                }
                                p{
                                    margin: 0;
                                }
                            }
                            
                            .progress {
                                //margin-top: -20px;
                                //display: flex;
                                width: 50%;
                                align-items: center;
            
                                .w3-progress-container{
                                    width:65%;
                                    height:1em;
                                    margin:0;
                                    position:relative;
                                    background-color:#f1f1f1;
                                }
                                .w3-progressbar{
                                    background-image: $green-gradient;
                                    height:100%;
                                    position:absolute;
                                    line-height:inherit;
                                }
                                .w3-round-xlarge{
                                    border-radius:16px!important;
                                }
            
                                p {
                                    margin:0;
                                    color: green;
                                    text-align: center;
                                    letter-spacing: normal;
                                    font-size: 12px;
                                }
                            }

                        }
                    }
                    }
                    
                }
            }
        }
    }
}


.progress {
    .w3-progressbar.w3-round-xlarge.red {
        background-image: linear-gradient(169deg, #f1f1f1 0%, red 100%) !important;
    }
    .pg-red {
        color: red !important;
    }
    .pg-orange {
        color:#FF8C00 !important;
    }
}