$black : rgb(0,0,0);
$white : rgb(255,255,255);
$green-gradient: linear-gradient(169deg, rgba(241,241,241,1) 0%, rgba(124,214,118,1) 100%);
$red-gradient: linear-gradient(169deg, rgba(241,241,241,1) 0%, rgba(223,5,5,1) 100%);